@model IEnumerable<ItlaTv.Models.Serie>

<h2 class="mt-4 mb-4">Bienvenido al Catálogo de Series</h2>



<form method="get">
    <div class=" g-3">
        <div class="col-sm">
            <label for="search" class="form-label">Buscar series</label>
            <input type="text" name="search" placeholder="Buscar series..." class="form-control" />
        </div>
        <div class="col-sm">
            <label for="selectedProductora" class="form-label">Filtrar por Productora</label>
            <select name="selectedProductora" class="form-control">
                <option value="">Seleccionar Productora</option>
                @foreach (var productora in ViewBag.Productoras as List<ItlaTv.Models.Productora>)
                {
                    <option value="@productora.Nombre">@productora.Nombre</option>
                }
            </select>
        </div>
        <div class="col-sm">
            <label for="selectedGenero" class="form-label">Filtrar por Género</label>
            <select name="selectedGenero" class="form-control">
                <option value="">Seleccionar Género</option>
                @foreach (var genero in ViewBag.Generos as List<ItlaTv.Models.Genero>)
                {
                    <option value="@genero.Nombre">@genero.Nombre</option>
                }
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</form>

<table class="mt-5 table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Productora</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serie in Model)
        {
            <tr>
                <td><img src="@serie.Imagen" width="100" /></td>
                <td>@serie.Nombre</td>
                <td>@serie.GeneroPrimario?.Nombre</td>
                <td>@serie.Productora?.Nombre</td>
                <td><a asp-action="Details" asp-route-id="@serie.Id" class="btn btn-info">Ver</a></td>
            </tr>
        }
    </tbody>
</table>

<h2 class="mt-5">Películas Populares</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Puntuación</th>
                <th>Fecha de Estreno</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Peliculas != null)
            {
                @foreach (var pelicula in ViewBag.Peliculas)
                {
                    <tr>
                        <td>
                            <img src="https://image.tmdb.org/t/p/w200/@pelicula.poster_path" alt="@pelicula.title" width="100">
                        </td>
                        <td>@pelicula.title</td>
                        <td class="w-25">@pelicula.overview </td>
                        <td>@pelicula.vote_average / 10</td>
                        <td>@pelicula.release_date</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No hay películas disponibles en este momento.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
