@model IEnumerable<ItlaTv.Models.Serie>

<h2 class="mt-4 mb-4">Listado de Series</h2>

<a asp-action="Create" class="btn btn-primary">Crear Nueva Serie</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Productora</th>
            <th>Géneros</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serie in Model)
        {
            <tr>
                <td>@serie.Nombre</td>
                <td><img src="@serie.Imagen" width="100" /></td>
                <td>@serie.Productora.Nombre</td>
                <td>@serie.GeneroPrimario.Nombre, @(serie.GeneroSecundario?.Nombre ?? "N/A")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@serie.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@serie.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
